@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f0f6ff;
  letter-spacing: .7px;
  overflow-x: hidden !important;
}

.container {
  max-width: 100rem;
  margin-inline: auto;
}

@media screen and (min-width: 970px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.8fr 2fr;
        grid-template-columns: 0.8fr 2fr;
    margin-block: 3rem;
    background-color: white;
  }
}

body {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  font-size: 1.5rem;
}

@media screen and (min-width: 970px) {
  h1 {
    font-size: 3.4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
    font-weight: 500;
  }
  h4 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.6rem;
  }
}

h1, h2, h4 {
  color: #02295a;
}

p {
  color: #9699ab;
}

.stepTracker {
  background-image: url("../../../public/assets/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 10px;
  height: 160px;
  background-position: 0 20%;
}

@media screen and (min-width: 970px) {
  .stepTracker {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    border-radius: 10px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    background-position: 0;
    grid-row: span 2;
    background-image: url("/public/assets/bg-sidebar-desktop.svg");
  }
}

.stepCircle-box {
  margin-block: 20px;
}

.stepCircle-box p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 4px;
  color: #adbeff;
}

.stepCircle-box h3 {
  color: white;
  font-size: 1.5rem;
}

.stepcirlce {
  border: 1px solid white;
  height: 35px;
  width: 35px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
  margin: 10px;
  border-radius: 50%;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
}

@media screen and (min-width: 970px) {
  .stepcirlce {
    float: left;
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
}

.circle-toggled {
  background-color: #adbeff;
  color: #02295a;
}

.hidden {
  display: none;
}

@media screen and (min-width: 970px) {
  .hidden {
    display: block;
  }
}

.StepContentWrapper {
  background-color: white;
  border-radius: 10px;
  margin: 15px;
  padding: 30px;
  position: relative;
  color: black !important;
  bottom: 70px;
  -webkit-box-shadow: 0 10px 30px rgba(204, 204, 204, 0.666);
          box-shadow: 0 10px 30px rgba(204, 204, 204, 0.666);
}

@media screen and (min-width: 768px) {
  .StepContentWrapper {
    padding-left: 100px;
  }
}

@media screen and (min-width: 970px) {
  .StepContentWrapper {
    bottom: 0;
    padding: 60px;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 500px;
    margin: 0;
  }
}

.personalInfo {
  height: 100%;
}

.paginationBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  height: 80px;
}

@media screen and (max-width: 970px) {
  .paginationBar {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 60px;
  }
}

@media screen and (min-width: 970px) {
  .paginationBar {
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

.paginationBar a {
  text-decoration: none;
  color: #9699ab;
  font-size: 1.5rem;
  font-weight: bold;
  -webkit-transition: .4s color;
  transition: .4s color;
  cursor: pointer;
}

.paginationBar a:hover {
  color: #64666d;
}

body {
  position: relative;
}

.btn {
  padding: 14px 16px;
  border: 0;
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: .7px;
  -webkit-transition: 0.3s ease background;
  transition: 0.3s ease background;
}

@media screen and (max-width: 768px) {
  .btn {
    padding: 9px;
    font-weight: normal;
  }
}

.btn--marineBlue {
  background-color: #02295a;
}

.btn--marineBlue:hover {
  background-color: #1c4578;
}

.btn--Purplishblue {
  background-color: #473dff;
}

.btn--Purplishblue:hover {
  background-color: #6c66eb;
}

p {
  margin-block: 20px;
}

.from-controller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 26px;
}

.from-controller label {
  color: #02295a;
  font-size: 1.2rem;
}

.from-controller input {
  margin-top: 6px;
  outline: none;
  border: 1px solid #9699ab;
  border-radius: 6px;
  padding: 14px 11px;
  font-size: 1.3rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .from-controller input {
    width: 70%;
  }
}

@media screen and (min-width: 970px) {
  .from-controller input {
    width: 80%;
  }
}

.from-controller input:focus {
  border: 3px solid #473dff;
  color: #02295a;
  font-weight: bold;
}

.error-msg {
  color: red;
  font-size: 1.1rem;
  margin-top: 5px;
}

.planCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #9699ab;
  margin: 10px;
  padding-top: 20px;
  padding-left: 20px;
  cursor: pointer;
  border-radius: 10px;
}

@media screen and (min-width: 970px) {
  .planCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 160px;
    width: 30%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.planCard img {
  margin-right: 14px;
  height: 40px;
}

@media screen and (min-width: 970px) {
  .planCard img {
    margin-bottom: 8px;
  }
}

.planCard p {
  margin-top: 4px;
}

@media screen and (min-width: 768px) {
  .planCard-wrapper {
    width: 70%;
  }
}

@media screen and (min-width: 970px) {
  .planCard-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
  }
}

.selectedCard-bg {
  background-color: #f0f6ff;
  border: 2px solid #473dff;
}

.selectedPlan-toggler-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  background-color: #fafbff;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .selectedPlan-toggler-box {
    width: 70%;
  }
}

@media screen and (min-width: 970px) {
  .selectedPlan-toggler-box {
    width: 90%;
    margin-top: 44px;
  }
}

.toggler-wrraper {
  background-color: #02295a;
  width: 40px;
  height: 24px;
  border-radius: 16px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
}

.toggler-wrraper span {
  height: 18px;
  width: 18px;
  display: inline-block;
  background-color: white;
  border-radius: inherit;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.toggler-btn-moved {
  -webkit-transform: translateX(90%);
          transform: translateX(90%);
}

.toggled-payment {
  color: #02295a;
  font-weight: bold;
}

.two-monthfree-txt {
  font-size: 1.2rem;
  color: #02295a;
}

.yearlyPrice {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.AddOnsServiceCard {
  border: 1px solid #d6d9e6;
  margin-block: 20px;
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.AddOnsServiceCard:hover {
  border-color: #473dff;
}

@media screen and (min-width: 768px) {
  .AddOnsServiceCard {
    width: 70%;
  }
}

@media screen and (min-width: 970px) {
  .AddOnsServiceCard {
    width: 80%;
  }
}

.AddOnsServiceCard .check-mark-box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 20px;
  border-radius: 4px;
  margin-right: 10px;
  width: 20px;
  border: 1px solid #d6d9e6;
}

.AddOnsServiceCard .servicesDes {
  width: 80%;
}

.AddOnsServiceCard .serviceDesc {
  color: #9699ab;
  font-size: 1.3rem;
}

.AddOnsServiceCard h5 {
  color: #02295a;
  margin-bottom: 6px;
  font-size: 1.6rem;
  font-weight: 500;
}

.AddOnsServiceCard h6 {
  color: #02295a;
  font-size: 1.3rem;
}

.selectedService {
  background-color: #f0f6ff;
}

.addCheckMark {
  background-color: #473dff;
  background-image: url("../../../public/assets/icon-checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.summary-result {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafbff;
  padding: 20px;
  gap: 1rem;
  margin-top: 30px;
}

.summary-result h4 {
  margin-bottom: 5px;
}

.summary-result a {
  text-decoration: none;
  color: #9699ab;
  font-size: 1.1rem;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}

.summary-result a:hover {
  color: #473dff;
}

.summary-result .price {
  color: #02295a;
  font-size: 1.3rem;
  font-weight: bold;
  justify-self: flex-end;
}

.summary-result .total {
  color: #473dff;
  font-size: 1.8rem;
}

.thankYouBox {
  text-align: center;
  padding-top: 6rem;
}
/*# sourceMappingURL=main.css.map */