
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
    


body{
    background-color:  $Magnolia;
}

.container{
    
    max-width:110rem ;
    margin-inline: auto;
    @include desktop{
        display: grid;
        grid-template-columns: 0.8fr 2fr;
        margin-block: 3rem;
        background-color: white;
      }
}