.planCard{
    display: flex;
    border: 1px solid $Coolgray;
    margin: 10px;
    padding-top: 20px;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 10px;

   @include desktop{
    flex-direction: column;
    height: 160px;
    width: 30%;
  justify-content: space-around;
  align-items:start;
    
   }
   img{
    margin-right: 14px;
    height: 40px;

    @include desktop{
        margin-bottom: 8px;
    }
   }



  

    p{
        margin-top: 4px;
    }
}

.planCard-wrapper{

    @include tablette{
        width: 70%;
    }
    @include desktop{
        display: flex;
        align-items: center;
        width: 90%;
    }
}


.selectedCard-bg{
    background-color: $Magnolia;
    border: 2px solid  $Purplishblue;
   }


.selectedPlan-toggler-box{
display: flex;
justify-content: center;
align-items: center;
gap: 2rem;
background-color: $Alabaster;
margin-top: 20px;

@include tablette{
    width: 70%;
}
@include desktop{
    width: 90%;
    margin-top: 44px;
}
}

.toggler-wrraper{
    background-color: $Marineblue;
    width: 40px;
    height: 24px;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 2px;

    span{
        height: 18px;
        width: 18px;
        display: inline-block;
        background-color: white;
        border-radius: inherit;
        transition: transform .4s;

        
    }
}

.toggler-btn-moved{
    transform: translateX(90%);
}

.toggled-payment{
    color: $Marineblue;
    font-weight: bold;
}


.two-monthfree-txt{
    font-size: 1.2rem;
    color: $Marineblue;
}

.yearlyPrice{
    transform: translateY(12px);
}