.StepContentWrapper{
    background-color: white;
    border-radius: 10px;
    margin: 15px;
    padding: 30px;
    position: relative;
    color: black !important;
    bottom:70px;
    box-shadow: 0  10px 30px rgba(204, 204, 204, 0.666);

    @include tablette{
        padding-left: 100px;
    }
    @include desktop{
        bottom: 0;
        // left: -10px;
        padding: 60px;
        box-shadow: none;
        // z-index: -5555;
       height: 500px;
        margin: 0;
    }
}

.personalInfo{
   height: 100%;
}